/*modificators*/
.background_black {
  background-color:  rgb(34, 34, 34);
}

.background_red {
  background-color: hsla(0, 78.72%, 63.14%, 1);
}

.link_text-decoration {
  text-decoration: none;
  color: white;
}

.button_decoration {
  border: none;
  background-color: unset;
  cursor: pointer;
  padding: 0;
  line-height: 0;
}
 .max-width_modificator{
  max-width: 80%;
}
/*modificators*/

/*blocks*/
.header__main-block {
  display: flex;
  min-height: 72px;
  justify-content: center;
}
/*blocks*/

/*for checking*/
html {
  height: 3000px;
}
/*for checking*/

body {
  font-size: 18px;
  font-family: 'Sen', sans-serif;
  max-width: 1920px;
  min-width: 1024px;
}

.header {
  position: sticky;
  top: 0;
}

header a:visited {
  color: white;
}

.header__announce {
  display: flex;
  min-height: 72px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/*first (black) part of header*/
.header__text_red-round {
  padding: 4px 20px 4px 20px;
  border-radius: 20px;
  color: white;
  background-color: hsla(0, 78.72%, 63.14%, 1);
}

.header__text {
  color: white;
}
/*first (black) part of header*/

/*second (red) part of header*/
.header__main-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__main-content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.header__nav-menu {
  display: flex;
  flex: 1;
  justify-content: end;
  margin-right: 20px;
  gap: 30px;
}

.header__nav-menu a {
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  transition-duration: .3s;
}

.header__nav-menu a:hover {
  background-color: rgb(34, 34, 34);
}

.header__basket-wrapper {
  display: flex;
  position: relative;
  min-height: 30px;
  min-width: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(34, 34, 34);
}

.header__basket {
  width: 100%;
  height: 100%;
}

.basket__logo {
  width: 25px;
}

.basket__mount-purchases {
  position: absolute;
  right: -15%;
  top: -20%;
  text-align: center;
  font-size: 11px;
  background-color: #ffffff;
  padding: 8px 6px;
  border-radius: 50%;
  font-weight: bolder;
}

.basket__hidden-list {
  position: absolute;
  top: 30px;
  right: 48px;
  max-height: 400px;
  width: 400px;
  background-color: grey;
  opacity: 0;
  transition-duration: 0.5s;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  border-radius: 5px;
  pointer-events: none;
}

.header__basket:hover + .basket__hidden-list {
  opacity: 1;
  pointer-events: auto;
}
/*second (red) part of header*/
