* {
    font-size: 18px;
    font-family: 'Sen', sans-serif;
}

a {
    text-decoration: none;
}

/*for checking*/
html {
    height: 3000px;
}

body {
    position: relative;
    margin: 0;
    max-width: 1920px;
    min-width: 1024px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.top__part__of__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color:  rgb(34, 34, 34);
    width: 100%;
    min-height: 71px;
    color: #fff;
}

.top__header__btn {
    background-color: hsla(0, 78.72%, 63.14%, 1);
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 4px 20px 5px 20px;
    cursor: pointer;
}

.bottom__part__of__header {
    display: flex;
    background-color: hsla(0, 78.72%, 63.14%, 1);
    width: 100%;
    min-height: 71px;
    justify-content: center;
    flex-direction: column;
}

.bottom__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
}

.bottom__items .nav__menu {
    display: flex;
    gap: 40px;
    margin-left: 470px;
}

.bottom__items .nav__menu a {
    padding: 4px 8px;
    border-radius: 5px;
    border: none;
    transition-duration: .3s;
    color: white;
}

.nav__menu a:visited {
    color: white;
}

.nav__menu a:hover {
    background-color: rgb(34, 34, 34);
}

.background__basket {
    display: flex;
    position: relative;
    background-color:  rgb(34, 34, 34);
    min-height: 30px;
    min-width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.basket__logo {
    width: 20px;
}

.amount__purchases {
    position: absolute;
    right: -15%;
    top: -15%;
    font-size: 11px;
    background-color: #ffffff;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bolder;
}



/*.background__basket:hover .hidden__list{*/
/*    display: flex;*/
/*    position: absolute;*/
/*    z-index: 9999;*/
/*    -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.3);*/
/*    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.3);*/
/*    box-shadow: 0 5px 5px rgba(0,0,0,0.3);*/
/*    border-radius: 5px;*/
/*}*/
.hidden__list {
    position: absolute;
    top: 30px;
    right: 48px;
    width: 400px;
    max-height: 400px;
    background-color: grey;
    opacity: 0;
    transition-duration: 0.5s;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    cursor: default;
}

.background__basket__hidden {
    position: relative;
}

.hidden__list:hover {
    display: none;
}

.background__basket__hidden:hover .hidden__list  {
    opacity: 1;
}

.check__content {
    margin-top: 200px;
}

